<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="save-form" name="form" method="post" action="/saveBook">
    <h1>Save new Book </h1>

    <div class="row">
        <label for="holder-input">Title:</label>
        <input id="holder-input" name="newBook" type="text" value="bookValue"/>
    </div>

    <div hidden="false" class="row">
        <input id="idAuthor" type="text" name="newAuthor" value="authorValue"></label>
    </div>

    <div hidden="false" class="row">
        <input id="idGenre" type="text" name="newGenre" value="genreValue"></label>
    </div>

    <div class="row">
        <select id="selectAuthor"></select>
    </div>

    <div class="row">
        <select id="selectGenre"></select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<script>

 $(function () {
        $.get('/authors').done(function (authors) {
            $.each(authors, function (i, author) {
                $('#selectAuthor').append($('<option>', {
                    value: author.id,
                    text : author.name
                }));
            });
        })

         $.get('/genres').done(function (genres) {
             $.each(genres, function (i, genre) {
                 $('#selectGenre').append($('<option>', {
                     value: genre.id,
                     text : genre.name
                 }));
            });
        })

       $('button').bind('click', function(){
       document.getElementById('idAuthor').value = selectAuthor.value;
       document.getElementById('idGenre').value = selectGenre.value;
		});

  });

</script>
</body>
</html>
