<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book, .book td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Books:</h1>

<table class="book">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
       <div>
        <tr th:each="book : ${book}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>

        <td>
            <a th:href="@{/edit(id=${book.id})}">Edit</a>
        </td>
            <td>
                <a th:href="@{/delete(id=${book.id})}">Delete</a>
            </td>
        </tr>
       </div>

        <div> <a th:href="@{/save}">Create a new Book</a></div>
    </tbody>

</table>
</body>
</html>
