<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
</head>
<body>
<form id="save-form" name="form" th:action="@{/save}" th:method="post" action="save.html">
    <h1>Save new Book </h1>

    <div class="row">
        <label for="holder-input">Title:</label>
        <input id="holder-input" name="newBook" type="text" th:value="${newBook}" value="bookValue"/>
    </div>


    <div hidden="false" class="row">
        <input id="idAuthor" type="text" th:value="${newAuthor}" name="newAuthor" value="authorValue"></label>
    </div>

    <div hidden="false" class="row">
        <input id="idGenre" type="text" th:value="${newGenre}" name="newGenre" value="genreValue"></label>
    </div>

    <div class="row">
        <select id="selectAuthor">
            <option th:each="author : ${author}" th:value="${author.id}" name="authorOption" type="text"
                    th:text="${author}" value="firstName">
            </option>
        </select>
    </div>

    <div class="row">
        <select id="selectGenre">
            <option th:each="genre : ${genres}" th:value="${genre.id}" name="genreOption" type="text"
                    th:text="${genre}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit" onclick="getValue()">Save</button>
    </div>
</form>
<script>

function getValue(){
document.getElementById('idAuthor').value = selectAuthor.value;
document.getElementById('idGenre').value = selectGenre.value;
}


</script>
</body>
</html>